CASSANDRA_HOSTS=cassandra
CASSANDRA_KEYSPACE=financial_dw
CASSANDRA_PORT=9042
CASSANDRA_DC=datacenter1
NASDAQ_BASE_URL=https://data.nasdaq.com/api/v3/datatables
NASDAQ_API_KEY=your_nasdaq_api_key_here
REDIS_URL=redis://redis:6379/0
OLLAMA_BASE_URL=http://0.0.0.0:11435
OLLAMA_MODEL=llama3.2
